************* NOTES ********************
----------------------------------------

Images used

remove playgroud!!

Add the favicon!!

/img
officepic1.jpeg
officepic2.jpeg
makers.jpeg

/img/coded_icon_set/128x128

page_ruby
sql
page_html
page_javascript

/img/justvector/png

github_alt
linkedin_alt
twitter_alt
google