
    <title>Chris Hill Web Developer</title>

    <link href="stylesheets/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/chlogo.png">
    <link href="stylesheets/css/chonline.css" rel="stylesheet">
    <link href="stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1 maximum-scale=1">
  </head>

  <body>

    <div class="masthead">
      <ul class="nav nav-justified navbar-fixed-top">
        <li class="active"><a href="#top">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">My Skills</a></li>
        <li><a href="#current">Current Work</a></li>
        <li><a href="#recent">Recent Work</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#social">Social links</a></li>
      </ul>
    </div>

    <a id="menu-toggle" href="#" class="btn btn-primary btn-sm toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-sm pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand"><h4 style="color:#FFFFFF">Chris Hill On-line</h4></li>
        <li><a href="#top">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">My Skills</a></li>
        <li><a href="#current">Current Work</a></li>
        <li><a href="#recent">Recent Work</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#social">Social links</a></li>
      </ul>
    </div>
  
    <div id="top" class="header">
      <div class="vert-text">
        <h1 style="font-size: 33px; color:#000000; background-color:#FFFFFF; padding: 15px"><%= greeting %> and welcome to my<br><em> Professional Profile</em><br>Chris Hill On-line<br>
        <a style= "margin-top: 15px; background-color: #f6971e; color: #FFFFFF" href="#about" class="btn btn-default btn-lg">Find Out More</a>
        </h1>
      </div>
    </div>

    <div id="about" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>I am a Ruby on Rails and Front end Developer originally from York, currently working on freelance projects and looking for a full time junior role in London. My website contains details on projects I have worked on in the past and working on currently</h3>
            <p class="lead">chrishillonline@gmail.com</p>
            <p class="lead">07540706728</p>
          </div>
        </div>
      </div>
    </div>

    <div id="skills" class="services" id="skills">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>My Skills</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-1 text-center">
            <div class="service-item">
              <i> <img src="img/page_ruby_128.png"></i>
              <h4>Ruby on Rails</h4>
              <p>Building applications in Ruby. Some of my ruby code is on Git hub. I am familiar with the Rails and Sinatra frameworks and have built applications on both and deployed them to the web using Heroku and Postgres SQL</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i> <img src="img/shield_128.png"></i>
              <h4>RSPEC and Capybara testing</h4>
              <p>Test and Behavior driven development was majorly drilled into us at Makers Academy, and with good reason! I Preform integration tests with rspec and capybara in order to ensure functionality and stability especially as web applications evolve and grow.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i> <img src="img/page_html_128.png"></i>
              <h4>HTML 5 & CSS 3</h4>
              <p>Creating responsive, retina-ready sites for mobiles, tablets and wide screen using the latest HTML5 features. I optimize my sites to reduce page size, load times and bounce rates.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i> <img src="img/page_javascript_128.png"></i>
              <h4>Java Script & jQuery</h4>
              <p>Using Java script and jQuery for front end development and Java Script as a Object-Oriented language to add functions to websites and Applications</p>
            </div>
          </div>

          <div class="col-md-2 text-center">
            <div class="service-item">
              <i> <img src="img/computer_desktop_128.png"></i>
              <h4>Version Control <br>& Design work</h4>
              <p>Version Control on all projects using Git. I have a good understanding of branching and merging.<br><br>Basic computer design skills using Adobe Photoshop and logo design in Fireworks</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>


    <div id="recent" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Recent Work</h2>
            <hr>
          </div>
        </div>

                  <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
            <h3>Book Sharing App</h3>
              <p class="lead" style="font-size: 18px">My final project at Makers Academy was a site to share your favorite three books with Twitter. I used the Amazon and Twitter API's to get the data i needed and built a great looking mobile page with swipe control. I worked as part of a small team which really helped improve my project collaboration skills using Git branching an version control.<br> The site is up and running and on the first day it was visited by over 300 people on the first day! Why not <a target="blank" href="http://www.dogearedpages.me/">Give it a go!.</a> </p>
               <p class="lead" style="font-size: 18px">See my code on <a target="blank" href="https://github.com/TomGroombridge/book_project">Github.</a></p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src="img/books2.jpg"></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/christagram.jpg">
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <h3>Christagram!</h3>
              <p class="lead" style="font-size: 18px"><a target="blank" href="http://alexpeattie.com/">Alex Peattie </a>set us the task of making an instagram clone with ruby on rails. I used paperclip to upload the photographs and stored them on AWS. You can sign up to the site with an e-mail address or log in using Facebook. I used the Omniauth gem for facebook log in. Christagram is<a target="blank" href="http://christagram.herokuapp.com/"> online here</a> check it out!</p>
          <p class="lead" style="font-size: 18px">See the code<a target="blank" href="https://github.com/chrishill627/christagram"> on Github</a></p>
            </div>
          </div>
        </div>
          <!-- http://christagram.herokuapp.com/ -->


          <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
            <h3>This Website</h3>
              <p class="lead" style="font-size: 18px">My portfolio website is built on Sinatra and involves a small ammount of ruby logic, json map api and Twitter Bootstrap. I have made a simple mobile friendly <a target="blank" href="http://en.m.wikipedia.org/wiki/Content_management_system">C-M-S</a> so I can easily update my location, current work and events i am attending from my mobile</p>
              <p class="lead" style="font-size: 18px">Please <a href="#contact">contact me </a>if you would like a similar website for your own personal profile.</p>
               <p class="lead" style="font-size: 18px">If you'd like to see my code it is on <a target="blank" href="https://github.com/chrishill627/chris_hill_online">Github.</a></p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src="img/chonline.png"></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/makers.png">
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <h3>Makers Academy</h3>
              <p class="lead" style="font-size: 18px"><a target="blank" href='http://www.makersacademy.com/'>Web development course</a> - a 12-week coding bootcamp, which takes people from zero experience to junior-developer level. The course covers Ruby, TDD, Rails, JavaScript, responsive design & realtime technologies.</p>
          <p class="lead" style="font-size: 18px">The course has been covered by <a target="blank" href='http://www.independent.co.uk/student/career-planning/cracking-the-code-what-is-makers-academy-8883921.html'>The Independent</a>, <a target="blank" href='http://www.theguardian.com/technology/2013/oct/14/learn-how-to-code'>The Guardian</a> and <a target="blank" href='http://www.theguardian.com/technology/2013/aug/18/wasted-talent-female-tech-women'>The Observer</a>.</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
            <h3>Sudoku Game</h3>
              <p class="lead" style="font-size: 18px">I was challenged to make a sudoku game written in ruby and built on the Sinatra framework. <a target="blank" href="http://chris-hill-sudoku.herokuapp.com/">Click here!</a> to give it a go!</p>
               <p class="lead" style="font-size: 18px">You could also have a look at my code <a target="blank" href="https://github.com/chrishill627/web_sudoku">on Github.</a></p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src="img/sudoku.jpeg"></a>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src="img/bookworm.jpg"></a>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <h3>Bookmark Manager</h3>
                 <p class="lead" style="font-size: 18px">Bookmark manager is a simple application to manage web bookmarks. It covers Postgres, Datamapper gem, password salting and front end development<a target="blank" href="#"> Click here!</a> and give it a try!!</p>
               <p class="lead" style="font-size: 18px">My code is <a target="blank" href="https://github.com/chrishill627/bookmark_manager">on Github.</a></p>
            </div>
          </div>
        </div>

        <!-- one that does not -->
        <hr>

    <div id="contact" class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h3>How to get in touch!</h3>
            <a href"tel:+447540706728" class="btn btn-lg btn-default">Call<br><em>07540706728</em></a>
            

            <a href="mailto:chrishillonline@gmail.com?Subject=Hi!" target="_top" class="btn btn-lg btn-primary">E-mail<br>chrishillonline@gmail.com</a>



            <h4>May be "see you around!" I frequenly update my location</h4>
          </div>
        </div>
      </div>
    </div>
<!-- MAP-->
    <div class="map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=old+street+london&amp;aq=&amp;sll=51.528642,-0.101599&amp;sspn=0.529705,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=Old+St&amp;ll=51.525464,-0.087939&amp;spn=0.016554,0.042272&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=old+street+london&amp;aq=&amp;sll=51.528642,-0.101599&amp;sspn=0.529705,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=Old+St&amp;ll=51.525464,-0.087939&amp;spn=0.016554,0.042272&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
<!-- MAP-->    
    <footer>
      <div id="social" class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><a href="https://github.com/chrishill627" target="blank"><img src="img/github_alt.png" style="width: 50px; height: 50px"></a></li>
              <li><a href="http://www.linkedin.com/pub/christopher-hill/89/47b/779" target="blank"><img src="img/linkedin_alt.png" style="width: 50px; height: 50px"></a></li>
              <li><a href="https://twitter.com/chrishillonline" target="blank"><img src="img/twitter_alt.png" style="width: 50px; height: 50px"></a></li>
            </ul>
            <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
            </div>
            <hr>
            <p>Copyright &copy; Chris Hill 2013</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="stylesheets/js/jquery-1.10.2.js"></script>
    <script src="stylesheets/js/main.js"></script>

    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

  </body>

</html>